<h1>Editing Feed</h1>

<%= render 'form', feed: @feed %>

<button type="button" class="btn btn-default">
  <%= link_to 'Show', @feed %></button>

<button type="button" class="btn btn-default">
  <%= link_to 'Back', feeds_path %></button>
